body {
    font-family: Arial, sans-serif;   
    background-color: rgb(255, 255, 255);
    padding: 0;
}
ul{
    color: rgb(0, 0, 0);
    font-size: 25px;
}
.custom-navbar {
    background-color: rgb(0, 31, 63); /* Custom color */
}
.custom-navbar .nav-link {
    color: white; /* Text color */
}
header {
    background: rgb(234, 216, 177);
    color: rgb(85, 103, 156);  
    text-align: left;
}

main {
    text-align: center;
    padding: 20px;
}
.about-us{
    background: rgb(234, 216, 177);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin:20px;
    line-height: 1.6;
}
footer {
    text-align: center;
    padding: 10px;
    background: rgb(0, 31, 63);
    color: #fff;    
    bottom: 0;
    width: 100%;
    margin: 0;
}
.card-body{
    background-color: #ffffff;
}
.buttono{
    background-color: #ffffff;
}
.buttona{
    background-color: #ffffff;
}
.buttonr{
    background-color: #ffffff;
}
.menu {
    position: relative;
    display: inline-block;
    margin-right: 30px;
    padding-left: 30px;
}

.hidden-menu {
    display: none;
    position: absolute;
    background-color: #ffffff;
    border: 1px solid #ffffff;
    padding: 10px;
    z-index: 1;
    margin-right: 60px;
}

.menu:hover .hidden-menu {
    display: block;
}

.hidden-menu ul {
    list-style-type: none;
    padding: 0;
}

.hidden-menu ul li {
    margin: 5px 0;
}