body {
    font-family: Arial, sans-serif;
    background-color: rgb(237, 232, 220);
    padding: 0;
}

ul {
    color: rgb(0, 0, 0);
    font-size: 25px;
}
.custom-navbar {
    background-color: rgb(0, 31, 63); /* Custom color */
    
}
.custom-navbar .nav-link {
    color: white; /* Text color */
}

header {
    background: rgb(237, 232, 220);
    color: rgb(85, 103, 156);
    text-align: left;
}
main{
    text-align: center;
    background: rgb(234, 216, 177);
    margin: 5px 0;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-size: 20px;   
    margin: 80px;   
    
}

.contact-us {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgb(255, 255, 255);
    text-align: center;
}

.social-icons {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.social-icons a {
    text-decoration: none;
    color: #fff;
    padding: 10px;
    border-radius: 50%;
    display: inline-block;
}

.para {
    text-align: center;
    margin: 1rem;
}

.graph {
    text-align: center;
    font-weight: initial;
    margin: 2rem;
}
.info{
    text-align: center;
    margin: 2rem;
}
.info2{
    text-align: center;
    margin: 2rem;
}
.info3{
    text-align: center;
    margin: 2rem;
}
.info4{
    text-align: center;
    margin: 2rem;
}

.lag{
    text-align: center;
    font-weight: initial;
    margin: 1rem;
}
footer {
    text-align: center;
    padding: 10px;
    background: rgb(0, 31, 63);
    color: #fff;    
    bottom: 0;
    width: 100%;
    margin: 0;
}
.menu {
    position: relative;
    display: inline-block;
    margin-right: 30px;
    padding-left: 30px;
}

.hidden-menu {
    display: none;
    position: absolute;
    background-color: #ffffff;
    border: 1px solid #ffffff;
    padding: 10px;
    z-index: 1;
    margin-right: 60px;
}

.menu:hover .hidden-menu {
    display: block;
}

.hidden-menu ul {
    list-style-type: none;
    padding: 0;
}

.hidden-menu ul li {
    margin: 5px 0;
}