body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(244, 244, 244);
}

header {
    background: rgb(85, 103, 156);
    color: #fff;
    padding: 20px;
    text-align: center;
}

main {
    padding: 100px;
}

article {
    background: rgb(225, 215, 183);
    margin: 10px 0;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}
article1 {
    background: #fff;
    margin: 10px 0;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
article2 {
    background: #fff;
    margin: 10px 0;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.step-image {
    width: 480px;
    height: 480px;
    border-radius: 5px;
    margin-bottom: 1px;
}

footer {
    text-align: center;
    padding: 10px;
    background: rgb(85, 103, 156);
    color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
}